## Read Inventory

In [ ]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 9},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5}}

## Purchase

In [ ]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1006
Enter the quantity: 1
Product:  Phone
Price:  50000
Billing Amount:  50000

## Update Inventory after purchase

In [ ]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

## Sales JSON

In [ ]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 400, 'prod': '1001', 'qn': 4}

In [ ]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [ ]:
sale = json.dumps(sales)

'{"1": {"prod": "1001", "qn": 4, "amount": 400}, "2": {"prod": "1001", "qn": 4, "amount": 400}, "3": {"prod": "1001", "qn": 4, "amount": 400}}'